#
#  _   _                                              _
# | \ | |                   /\                       (_)
# |  \| | _____      __    /  \   _ __ ___   __ _ _____ _ __   __ _
# | . ` |/ _ \ \ /\ / /   / /\ \ | '_ ` _ \ / _` |_  / | '_ \ / _` |
# | |\  |  __/\ V  V /   / ____ \| | | | | | (_| |/ /| | | | | (_| |
# |_| \_|\___| \_/\_/   /_/    \_\_| |_| |_|\__,_/___|_|_| |_|\__, |
#                                                              __/ |
#  _                _            ____  _            _         |___/
# | |              | |          |  _ \| |          | |
# | |    _   _  ___| | ___   _  | |_) | | ___   ___| | _____
# | |   | | | |/ __| |/ / | | | |  _ <| |/ _ \ / __| |/ / __|
# | |___| |_| | (__|   <| |_| | | |_) | | (_) | (__|   <\__ \
# |______\__,_|\___|_|\_\\__, | |____/|_|\___/ \___|_|\_\___/
#                         __/ |
#                        |___/


# Lang file to use. It must be inside the lang folder
LangFile: "lang_EN.yml"

# Wands configuration
Wands:
  RegenWand:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 20
    # The time must be in seconds
    effect-time: 10
    required-permission: false
    permission: "amazinglb.wands.regenwand"
    custom-model-data: 1000
    limited-uses:
      enable: false
      uses: 5
  FireWand:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 20
    fire-radius: 1.5
    required-permission: false
    permission: "amazinglb.wands.firewand"
    custom-model-data: 1000
    limited-uses:
      enable: false
      uses: 5
  InvisibilityWand:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 20
    # The time must be in seconds
    effect-time: 10
    required-permission: false
    permission: "amazinglb.wands.invwand"
    custom-model-data: 1000
    limited-uses:
      enable: false
      uses: 5
  TntWand:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 20
    required-permission: false
    permission: "amazinglb.wands.tntwand"
    custom-model-data: 1000
    limited-uses:
      enable: false
      uses: 5
  SlimeWand:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 20
    required-permission: false
    permission: "amazinglb.wands.slimewand"
    custom-model-data: 1000
    limited-uses:
      enable: false
      uses: 5
  LightningWand:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 20
    required-permission: false
    permission: "amazinglb.wands.lightning"
    custom-model-data: 1000
    limited-uses:
      enable: false
      uses: 5
  ShieldWand:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 20
    ShieldWandBlock: "OAK_LEAVES"
    radius: 3.0
    withfloor: true
    protect-structures: true
    required-permission: false
    permission: "amazinglb.wands.shield"
    custom-model-data: 1000
    limited-uses:
      enable: false
      uses: 5
  PotionWand:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 20
    # Here you can find all the potion effects:
    #   https://hub.spigotmc.org/javadocs/spigot/org/bukkit/potion/PotionEffectType.html
    # The effects must follow the next syntax:
    #   <effect-name>;<effect-time>;<effect-amplifier>;<effect-probability>
    # Note: effect time must be in seconds
    effects:
    - "JUMP;10;30;100"
    - "SPEED;15;20;100"
    required-permission: false
    permission: "amazinglb.wands.potion"
    custom-model-data: 1000
    limited-uses:
      enable: false
      uses: 5
  FrostPathWand:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 20
    frostMaterial: "PACKED_ICE"
    maxBlocks: 20
    minPitch: -45.0
    maxPitch: 45.0
    # The time must be in ticks. 1 second = 20 ticks
    time-before-frostpath: 0
    # The time must be in ticks. 1 second = 20 ticks
    time-between-one-block-and-the-next: 5
    rows-of-blocks-each-time: 1
    row-width: 3
    required-permission: false
    permission: "amazinglb.wands.frost"
    custom-model-data: 1000
    limited-uses:
      enable: false
      uses: 5

# Objects configuration
Objects:
  DarkHole:
    # Depth of the dark hole.
    # If this value is negative, an infinite depth will be used
    depth: 5
    radius: 1
    squared: true
    # The time must be in ticks. 1 second = 20 ticks
    time-before-darkhole: 20
    # The time must be in ticks. 1 second = 20 ticks
    time-between-one-block-and-the-next: 5
    # If a block of these list is found, the dark hole will be stopped
    block-stop-mode:
      enable: false
      block-list:
      - "BEDROCK"
    required-permission: false
    permission: "amazinglb.objets.darkhole"
    custom-model-data: 1000
  MiniVolcano:
    # The time must be in ticks. 1 second = 20 ticks
    time-before-minivolcano: 20
    # The time must be in ticks. 1 second = 20 ticks
    time-between-one-block-and-the-next: 20
    squared: false
    height: 3
    lava-material: "LAVA"
    base-material: "OBSIDIAN"
    throwBlocks:
      enable: true
      number-of-blocks: 5
      height: 0.4
      radius: 0.4
      material: "NETHERRACK"
      # The time must be in ticks. 1 second = 20 ticks
      time-between-blocks: 10
    required-permission: false
    permission: "amazinglb.objets.minivolcano"
    custom-model-data: 1000
  IceBow:
    freeze-material: "ICE"
    disableArrowKnockback: true
    protect-structures: true
    # The time must be in ticks. 1 second = 20 ticks
    time-before-freezing: 0
    # The time must be in ticks. 1 second = 20 ticks
    time-between-one-block-and-the-next: 5
    generateSnow: true
    generateIcePrison: true
    snowRadius: 2
    required-permission: false
    permission: "amazinglb.objects.icebow"
    custom-model-data: 1000
  PlayerTracker:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 5
    radius: 1000
    detect-players-only: true
    required-permission: false
    permission: "amazinglb.objects.playertracker"
    custom-model-data: 1000
  EndermanSoup:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 5
    speedMultiplier: 1.5
    required-permission: false
    permission: "amazinglb.objects.enderman_soup"
    custom-model-data: 1000
  HotPotato:
    ticksBeforeExplosion: 60
    explosionPower: 2.0
    createFire: true
    breakBlocks: true
    required-permission: false
    permission: "amazinglb.objects.hot_potato"
    custom-model-data: 1000
  AutoBow:
    velocityMultiplier: 1.0
    required-permission: false
    permission: "amazinglb.objects.autobow"
    custom-model-data: 1000
  MultiBow:
    numberOfArrows: 5
    spreadAngle: 25
    required-permission: false
    permission: "amazinglb.objects.multibow"
    custom-model-data: 1000
  ExplosiveBow:
    explosionPower: 2.0
    createFire: true
    breakBlocks: true
    required-permission: false
    permission: "amazinglb.objects.explosivebow"
    custom-model-data: 1000
  HomingBow:
    followPlayersOnly: true
    followInvisibleEntities: false
    arrowRadius: 5.0
    velocityMultiplier: 0.1
    required-permission: false
    permission: "amazinglb.objects.homingbow"
    custom-model-data: 1000
  HookBow:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 10
    maxDistance: 50
    maxFlySeconds: 30
    heightGain: 5
    gravity: 0.155
    stopArrowOnLiquid: true
    # Set this value to a positive one to instant shoot the hook at a certain speed.
    # Change it to a negative value to disable instant shoot
    arrowSpeed: 1.5
    leashPacketRadius: 50
    leashTimeoutSeconds: 10
    required-permission: false
    permission: "amazinglb.objects.hookbow"
    custom-model-data: 1000
  SwappingBall:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 3
    preserve-yaw-pitch: true
    required-permission: false
    permission: "amazinglb.objects.swapping_ball"
    custom-model-data: 1000
  ItemStealer:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 5
    # max number of items to steal in each attempt
    number-of-items-to-steal: 3
    # radius around the fish hook to steal items
    steal-radius: 2
    # speed that items will have when they fly to the stealer position
    speed-of-items: 0.5
    # distance to stealer to stop items from flying
    min-distance-to-stealer: 0.5
    # min pickup time in seconds to prevent stealed items
    #   from being picked up by other players
    min-pickup-seconds: 1
    # max number of seconds that items can be flying until they
    #   reach the stealer
    max-fly-seconds: 30
    # Set this value to true if you want to be able to steal items from chests, furnaces, hoppers, etc
    allow-stealing-items-from-blocks: true
    required-permission: false
    permission: "amazinglb.objects.item_stealer"
    custom-model-data: 1000
  LuckyTool:
    # cooldown-time must be in seconds (Use 0 to disable it)
    cooldown-time: 0
    enable: true
    onlyCanBreakLuckyBlocksWithLuckyTool: false
    required-permission: false
    permission: "amazinglb.lucky_tool"
    custom-model-data: 1000

# Command permissions
Commands:
  Worlds-permission: "amazinglb.worlds"
  Update-message-permission: "amazinglb.update"
  Reload-permission: "amazinglb.reload"
  Give:
    GiveMenu: "amazinglb.givemenu"
    Wands: "amazinglb.give.wands"
    Objects: "amazinglb.give.objects"
    LuckyBlocks: "amazinglb.give.luckyblock"
    LuckyTool: "amazinglb.give.luckytool"
    OtherItems: "amazinglb.give.otheritems"
  RandomBlocks-permission: "amazinglb.randomblocks"
  Clear-permission: "amazinglb.clear"
  Menu-permission: "amazinglb.menu"
  GetSkull-permission: "amazinglb.getskull"
  Tab-completer: "amazinglb.tabcompleter"
  Schematic: "amazinglb.schematic"
  LuckyEvent-permission: "amazinglb.luckyevent"

# Enable or disable the use of colors in the console logger
ColoredLogger: true

# Enable or disable the updater checker
Update-checker: true

# Enable or disable menu confirmation when using /alb menu
Enable-openMenu-confirmation: true

# Enable or disable percentage when using /alb randomblocks
Enable-randomBlocks-percentage: true

# Amount of random blocks that will be generated each tick
RandomBlocks-PacketSize: 10

# Enable this option to check if all textures are valid.
# If you disable it, the plugin will load faster, but textures won't be checked
CheckIfTexturesAreValid: false

# General LuckyBlock configurations
LuckyBlock:
  # If debug mode is enabled, when a LuckyBlock is broken, its location, contents and other stuff
  #     will be logged in the console
  DebugMode: false
  # If this option is enabled, LuckyBlocks will be protected against liquids and explosions
  EnableEnvironmentProtection: true
  DropOnBlockBreak:
    # If enabled, when you break a block (not LuckyBlock),
    #   there is a probability that it dropped a LuckyBlock
    enable: false
    # If enabled, LuckyBlocks will only be dropped in survival mode
    survivalOnly: true
    # Disable LuckyBlock drop when using a tool with silk touch.
    # If this option is set to false, players will be able to break and place
    #   the same block whenever they want if they use a tool with silk touch.
    # So they will be able to get an infinite amount of LuckyBlocks
    disableWithSilkTouch: true
    # If enabled, the original item will be dropped with the LuckyBlock.
    #   If not, only the LuckyBlock will be dropped
    dropOriginalItem: true
    # List of blocks where this mode is enabled.
    # For each material that you want, put the material name (e.g.: STONE)
    #   followed by an optional data value if using Minecraft 1.8-1.12 (e.g.: STONE:3).
    # Then, add each LuckyBlock type that you want with its probability.
    # Note that the total probability should be 100 or less for every material.
    # By setting a lower probability, you are setting the probability of not
    #   dropping anything.
    # For example:
    #   STONE:
    #     default: 50
    #     default2: 25
    # In this case, there is a probability of 50% of dropping 'default' LuckyBlockType
    #   25% of dropping 'default2' LuckyBlockType and 25% of not dropping anythings
    # In addition, you can optionally add a material named "DEFAULT", which will be used
    #   when the broken block is not specified.
    #
    # You can find the material list here:
    #   https://github.com/CryptoMorin/XSeries/blob/master/src/main/java/com/cryptomorin/xseries/XMaterial.java
    enabledBlocks:
      STONE:
        default: 50
        default2: 25
      COAL_ORE:
        default: 10
      DIRT:
        default2: 99
      DEFAULT:
        default: 3
    # List of commands to execute after dropping a LuckyBlock.
    #   You can use %bx%, %by% and %bz% to get the x, y and z coordinates
    #   of the broken block that dropped that LuckyBlock,
    #   %x%, %y% and %z% to get the coordinates of the player
    #   and %player% to get the player's name.
    # Besides, you can use %material% to get the block material name,
    #   %data% to get the block data and %luckyblock_type% to get the
    #   dropped LuckyBlock type name.
    # Note that, block data values will only work in legacy Minecraft versions
    #   (1.8 to 1.12). In Minecraft 1.13 or above, this value will always be 0.
    # You should enter one command per line without the first '/'
    # For example: - "say %player% got a LuckyBlock at %bx% %by% %bz%"
    commands:
    - "say %player% (%x% %y% %z%) got a luckyBlock of type \"%luckyblock_type%\" at %bx% %by% %bz%"
    - "say Broken block was: %material%:%data%"

# Generate random LuckyBlocks when a chunk is populated (created)
# This feature is experimental and can contain bugs
GenerateRandomblocks-OnChunkCreated:
  enable: false
  radx: 8
  rady: 8
  radz: 8
  blocks: 5
  floating-blocks: false
  avoid-water: false # Avoid block generation next to water (sponge becomes wet_sponge and won't work as a lucky block).
  send-finish-message: false
  maxTasks: 5
  chance: 100
